body {
    background-image: url(../images/market-background.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

/*Start of Navbar CSS*/

.navbar-custom {
    background-color: rgb(161 253 177 / 75%);
}

.navbar h1{
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
}

.navbar h1:hover {
    color:white;
}

.btnso {
    margin-bottom: 20px;
    background-color: rgb(185, 4, 4);
    border-radius: 20px;
    height: 50px;
    width: 150px;
}

/*End of NavBar CSS*/

#start {
    filter:opacity(100%);
    position: absolute;
    top: 35%;
    width: auto;
    height: auto;
    margin-left: 20px;
    font-size: 200%;
    color: white;
    background-color: gray;
    background: rgb(128 128 128 / 50% );
    padding: 20px;
    border-radius: 20px;
}

.butdef {
    background-color: rgb(161, 253, 177);
    border-radius: 20px;
    height: 50px;
    width: 150px;
    font-size: 50%
}

.btn-custom-color {
    background-color: rgb(161, 253, 177);
}

.createNew, .editOld {
    margin-top: 40px;
}

.editOld {
    background-color: white;
    height: 55vh;
}

#listContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: flex-start; /* Align cards to the top */
    gap: 50px; 
    padding: 20px; 
    overflow-y: scroll;
}

/* Optional: Styling for individual cards inside the list container */
.oldList {
    width: 15rem; /* Set a fixed width for cards */
    margin-bottom: 20px; /* Optional: Adds space between rows of cards */
}

/* Optional: Styling for the card body */
.oldList .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editOld h1 {
    background-color: white;
}

/* Center the entire listContainer within the parent container */
.test {
    display: flex;
    justify-content: center; /* Center the listContainer */
    align-items: flex-start; /* Align the listContainer to the top */

}
body {
overflow-x: hidden;
height:100vh;

}

.offcanvas {
    max-width: 100vw !important ;
    overflow-x: hidden;
}
#searchBar {
    background-color: white;
    padding: 20px;
}

#search, #list{
    border-radius: 20px;
    /*padding: 10px;*/
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: scroll;

    
}

.list-group-item h5 {
    justify-content: center;
    margin-right: 20px;
}

#list {
    background-color: white;
}
#content{
    height: 89%;
}
.middle{
    width: 50px;
}


/* #editList{
   
    overflow-y:hidden;
} */